

/* User Specified Styles Below */

.active {
    background-image: url("img/wtrk_logo.png");
    color: purple;
    border: 20px;
    border-bottom-color: aquamarine;
}

div {
    
    background-image: url(img/wtrk_logo.png);
  background-color: blue;
}

h1 {
color: aliceblue;
    border: 20px solid pink;
    background: 
        
}